*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.log
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
plex.conf
phue.conf
pyozw.sqlite
nest.conf
.uuid
ipchange.yaml
usps_cookies.pickle
webostv.conf
bravia.conf
garagecam.jpg
gitupdate.sh